<head>
    <style>
        .masthead {
            height: 100vh;
            max-height: 500px;
            background-image: url(<%= asset_path "foto1.jpg" %>);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-origin: content-box;
        }
    </style>
    <title>Motorshelves - Sign in</title>
</head>
<style>
 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Righteous&display=swap');
 .container{
 font-family: 'Righteous', cursive;
 }
</style>
<body style="background-color: rgb(25, 25, 25);">
    <header class="masthead"></header>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <p class="h2" style="color: aliceblue;">
                    Complete your registration
                </p>
            </div>
            <br>
            <%= form_with model: current_user do |form| %>
            <div class="input-group mb-3">
              <%= form.label :firstname, class:"input-group-text"%>
              <%= form.text_field :firstname, class:"form-control", placeholder:"John", aria_label:"First name" %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :lastname, class:"input-group-text" %>
              <%= form.text_field :lastname, class:"form-control", placeholder:"Smith", aria_label:"Last name" %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :dateofbirth, class:"input-group-text" %><br>
              <%= form.date_select :dateofbirth, start_year:1920, class:"form-control" %>
            </div>

            <div class="input-group mb-3" style="color: aliceblue;">
              <div>Gender:</div>
              <div class="form-check form-check-inline">
                <%= form.radio_button :gender, 'M' %> M
                <%= form.radio_button :gender, 'F' %> F
              </div>
            </div>

            <br>
            <div class="d-grid gap-2 col-3 mx-auto">
              <%= form.submit "Submit", class:"btn btn-primary", style:"border:2px solid rgba(0,0,0,0.2);
					border-radius:12px;
					background-color: rgb(24, 23, 23);
					border-bottom-color:black;
					background-image: linear-gradient( rgba(176,196, 222,0.5), red 45%, red 51%, rgb(0, 0, 0));
					text-decoration: none;
					color:lavender;
					font-size: medium;" %>
            </div>
          <% end %>
        </div>
    </section>
</body>
